<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <%= render 'layouts/meta' %>

  <link href='http://fonts.googleapis.com/css?family=Righteous|Muli:300,400' rel='stylesheet' type='text/css'>

  <%= render 'layouts/favicons' %>

  <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% if Rails.env.development? %>
    <% ga_version = 'analytics_debug.js' %>
  <% else %>
    <% ga_version = 'analytics.js' %>
  <% end %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/<%= ga_version %>','ga');

    ga('create', 'UA-63353165-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
